.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--primary-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.header_img img {
    width: 40px;
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: var(--primary-color);
}

.modal-header,
.modal-footer {
    background-color: var(--secondary-color);
    color: var(--pyrite-color);
}

.btn-zeus,
.bg-zeus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-zeus:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}