<header class="header" id="header">
    <div class="header_toggle"> </div>
    Zeus v0.0.21
    <div class="header_img" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="./assets/images/zeus_theme_alt.png" data-bs-custom-class="tooltip-zeus" data-bs-toggle="tooltip"
            data-bs-placement="left" data-bs-title="Click to edit">
    </div>
</header>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><svg width="30" height="30" viewBox="0 0 300 300"
                        fill="none" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                        <rect x="126.979" y="200.646" width="44.588" height="62.035"
                            style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                        <rect x="126.01" y="162.359" width="69.79" height="49.435"
                            style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                        <rect x="176.898" y="128.433" width="59.128" height="47.981"
                            style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                        <rect x="71.244" y="31.018" width="110.501" height="157.027"
                            style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                        <path
                            d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                            style="fill: rgb(0, 0, 0);" />
                    </svg> Modal title</h1>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dolorem sunt! Pariatur quaerat
                    commodi
                    dolor repellendus doloremque at magni officiis vitae tenetur, a, distinctio itaque laudantium? Nam
                    numquam praesentium ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dolorem sunt! Pariatur quaerat
                    commodi
                    dolor repellendus doloremque at magni officiis vitae tenetur, a, distinctio itaque laudantium? Nam
                    numquam praesentium ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dolorem sunt! Pariatur quaerat
                    commodi
                    dolor repellendus doloremque at magni officiis vitae tenetur, a, distinctio itaque laudantium? Nam
                    numquam praesentium ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dolorem sunt! Pariatur quaerat
                    commodi
                    dolor repellendus doloremque at magni officiis vitae tenetur, a, distinctio itaque laudantium? Nam
                    numquam praesentium ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dolorem sunt! Pariatur quaerat
                    commodi
                    dolor repellendus doloremque at magni officiis vitae tenetur, a, distinctio itaque laudantium? Nam
                    numquam praesentium ipsam.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-zeus">Save changes</button>
            </div>
        </div>
    </div>
</div>