<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Changelog Component</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_upcoming.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>😊 More to come... <span class="badge bg-dark">Future</span></h5>
                        <p class="card-text">More updates will come in the future, stay tuned....</p>
                        <h6>📅 Released: ???</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.15.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Chart.js library <span class="badge bg-danger" style="margin-right: 5px;">New</span><span
                                class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added the Chart.js library to create dynamic charts.
                        </p>
                        <h6>📅 Released: 15/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.14.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Bootstrap modules <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added Bootstrap modules to visualize the behavior of the project.
                        </p>
                        <h6>📅 Released: 10/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.13.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Amazing hover effect <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added an amazing hover animation on the sidebar, it is taking
                            shape.</p>
                        <h6>📅 Released: 07/02/2024</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.12.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Styles & smoothing <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have stylized the dashboard to make it more pleasing to the eye.</p>
                        <h6>📅 Released: 06/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.11.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Router & components <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added different test components in order to work with the Angular
                            router.</p>
                        <h6>📅 Released: 04/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>⚡ Initial release <span class="badge bg-success">Initial</span></h5>
                        <p class="card-text">
                            The creation and configuration of the repository, as well as the Angular
                            project.</p>
                        <h6>📅 Released: 01/02/2024</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>