<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Changelog Component</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_upcoming.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="209.37" y="54.282" width="31.018" height="194.345"
                                    style="stroke: rgb(253, 221, 202); fill: rgb(253, 221, 202);" />
                                <rect x="239.418" y="75.848" width="25.202" height="143.457"
                                    style="stroke: rgb(253, 221, 202); fill: rgb(253, 221, 202);" />
                                <rect x="68.821" y="36.349" width="64.459" height="227.787"
                                    style="stroke: rgb(253, 221, 202); fill: rgb(253, 221, 202);" />
                                <rect x="125.04" y="26.656" width="54.281" height="245.234"
                                    style="fill: rgb(253, 221, 202); stroke: rgb(253, 221, 202);" />
                                <rect x="173.506" y="34.895" width="43.134" height="234.087"
                                    style="stroke: rgb(253, 221, 202); fill: rgb(253, 221, 202);" />
                                <rect x="41.351" y="75.622" width="39.257" height="165.266"
                                    style="stroke: rgb(253, 221, 202); fill: rgb(253, 221, 202);"
                                    transform="matrix(1, 0, 0.001465, 1, -6.206661, -7.770618)" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.375, -84.375)">
                                    <circle cx="62" cy="46" r="4" style="fill: rgb(0, 0, 0);" />
                                    <g>
                                        <circle cx="38" cy="46" r="4" style="fill: rgb(0, 0, 0);" />
                                        <path
                                            d="M42,57.59A8.28,8.28,0,0,0,49.28,66,8,8,0,0,0,58,58V56a2,2,0,0,0-2-2H44a2,2,0,0,0-2,2Z"
                                            style="fill: rgb(0, 0, 0);" />
                                        <path
                                            d="M50,82A32,32,0,1,0,18,50,32,32,0,0,0,50,82Zm0-56A24,24,0,1,1,26,50,24,24,0,0,1,50,26Z"
                                            style="fill: rgb(0, 0, 0);" />
                                    </g>
                                </g>
                            </svg> More to come... <span class="badge bg-dark">Future</span></h5>
                        <p class="card-text">More updates will come in the future, stay tuned....</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: ???</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.21.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Palette component <span class="badge bg-danger" style="margin-right: 5px;">New</span>
                        </h5>
                        <p class="card-text">We have added a component to show the colours of the project.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 03/03/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Dashboard component <span class="badge bg-zeus">Major</span></h5>
                        <p class="card-text">We have completed the dashboard component in its totality.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 24/02/2024</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.15.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Chart.js library <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added the Chart.js library to create dynamic charts.
                        </p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 15/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.14.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Bootstrap modules <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added Bootstrap modules to visualize the behavior of the project.
                        </p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 10/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.13.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Amazing hover effect <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added an amazing hover animation in the sidebar.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 07/02/2024</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.12.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Styles & smoothing <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have stylized the dashboard to make it more pleasing to the eye.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 06/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.11.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Router & components <span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added different test components in order to work with the Angular
                            router.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 04/02/2024</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><svg width="30" height="30" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                    style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                                <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                    style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                                <path
                                    d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg> Initial release <span class="badge bg-success">Initial</span></h5>
                        <p class="card-text">
                            The creation and configuration of the repository, as well as the Angular
                            project.</p>
                        <h6><svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                focusable="false" xmlns="http://www.w3.org/2000/svg">
                                <rect x="40.711" y="143.942" width="220.517" height="125.525"
                                    style="fill: rgb(186, 186, 186); stroke: rgb(186, 186, 186);" />
                                <rect x="40.226" y="68.336" width="220.032" height="58.158"
                                    style="stroke: rgb(0, 0, 0); fill: rgb(227, 78, 78);" />
                                <g transform="matrix(4.6875, 0, 0, 4.6875, -84.374992, -84.375)">
                                    <path
                                        d="M20,38V70A12,12,0,0,0,32,82H68A12,12,0,0,0,80,70V38A12,12,0,0,0,70,26.18V18H62v8H54V18H46v8H38V18H30v8.18A12,12,0,0,0,20,38ZM68,74H32a4,4,0,0,1-4-4V50H72V70A4,4,0,0,1,68,74ZM32,34H68a4,4,0,0,1,4,4v4H28V38A4,4,0,0,1,32,34Z"
                                        style="fill: rgb(0, 0, 0);" />
                                    <rect x="34" y="56" width="8" height="8" style="fill: rgb(0, 0, 0);" />
                                </g>
                            </svg> Released: 01/02/2024</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>