.fa-bolt,
.fa-face-smile {
    color: var(--primary-color);
}

.fa-calendar {
    color: var(--ruby-color);
}

.bg-zeus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}