<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Users Component</h1>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> User stats
                    </div>
                    <div class="card-body p-3 p-md-4">
                        <div class="d-md-flex text-black">
                            <div class="flex-shrink-0">
                                <img src="./assets/images/zeus_theme_alt.png" class="img-fluid">
                            </div>
                            <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                                <h5 class="mb-1 name">John Zeus</h5>
                                <p class="mb-2 pb-1 specialist">Senior
                                    Journalist</p>
                                <div class="d-md-flex justify-content-between rounded-3 p-2 mb-2 stats">
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="text-muted mb-1 small">Articles</p>
                                        <p class="mb-0 number">41</p>
                                    </div>
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="text-muted mb-1 small">Followers</p>
                                        <p class="mb-0 number">976</p>
                                    </div>
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="text-muted mb-1 small">Rating</p>
                                        <p class="mb-0 number">8.5</p>
                                    </div>
                                </div>
                                <div class="d-flex pt-1">
                                    <button type="button" class="btn btn-outline-zeus me-1 flex-grow-1"><svg width="20"
                                            height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="31.987" y="49.435" width="236.995" height="205.977"
                                                style="stroke: rgb(0, 0, 0); fill: rgb(226, 153, 100);" />
                                            <path
                                                d="M 56.25 281.25 L 243.75 281.25 C 274.814 281.25 300 256.064 300 225 L 300 75 C 300 43.931 274.814 18.75 243.75 18.75 L 56.25 18.75 C 25.186 18.75 0 43.931 0 75 L 0 225 C 0 256.064 25.186 281.25 56.25 281.25 Z M 243.75 243.75 L 56.25 243.75 C 45.895 243.75 37.5 235.355 37.5 225 L 37.5 124.828 L 105.094 173.109 C 131.958 192.3 168.042 192.3 194.906 173.109 L 262.5 124.828 L 262.5 225 C 262.5 235.355 254.105 243.75 243.75 243.75 Z M 56.25 56.25 L 243.75 56.25 C 254.105 56.25 262.5 64.641 262.5 75 L 262.5 78.75 L 173.109 142.594 C 159.23 152.288 140.77 152.288 126.891 142.594 L 37.5 78.75 L 37.5 75 C 37.5 64.641 45.895 56.25 56.25 56.25 Z"
                                                style="fill: rgb(0, 0, 0);" />
                                        </svg> Chat</button>
                                    <button type="button" class="btn btn-zeus flex-grow-1"><svg width="20" height="20"
                                            viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="33.441" y="70.759" width="42.165" height="201.131"
                                                style="fill: rgb(43, 213, 142); stroke: rgb(43, 213, 142);" />
                                            <rect x="68.821" y="32.472" width="164.297" height="235.541"
                                                style="fill: rgb(43, 213, 142); stroke: rgb(43, 213, 142);" />
                                            <rect x="222.94" y="67.851" width="40.711" height="168.174"
                                                style="fill: rgb(43, 213, 142); stroke: rgb(43, 213, 142);" />
                                            <g transform="matrix(4.688665, 0, 0, 4.688665, -84.325546, -84.479195)">
                                                <path
                                                    d="M50,18A32,32,0,0,0,21.21,64l-2.7,7.21a8,8,0,0,0,10.3,10.3L36,78.79A32,32,0,1,0,50,18Zm0,56a23.88,23.88,0,0,1-13.29-4L26,74l4-10.71A24,24,0,1,1,50,74Z"
                                                    style="fill: rgb(0, 0, 0);" />
                                                <polygon
                                                    points="54 37 46 37 46 46 37 46 37 54 46 54 46 63 54 63 54 54 63 54 63 46 54 46 54 37"
                                                    style="fill: rgb(0, 0, 0);" />
                                            </g>
                                        </svg> Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Most liked article
                    </div>
                    <div class="card-body">
                        <img src="./assets/images/zeus_code.png" class="announcement-image" width="100%" height="50px">
                        <h5><i class="fa-solid fa-bell"></i> Most used languages in 2024.</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <div>
                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                    focusable="false" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="70.759" y="30.048" width="157.027" height="189.499"
                                        style="fill: rgb(163, 19, 19); stroke: rgb(163, 19, 19);" />
                                    <rect x="65.428" y="206.462" width="44.588" height="50.404"
                                        style="fill: rgb(163, 19, 19); stroke: rgb(163, 19, 19);" />
                                    <rect x="182.714" y="205.008" width="47.011" height="52.342"
                                        style="stroke: rgb(163, 19, 19); fill: rgb(163, 19, 19);" />
                                    <path
                                        d="M 71.572 299.969 C 80.731 300.018 89.498 296.249 95.764 289.567 L 150 231.509 L 204.43 289.567 C 221.702 308.04 252.493 300.894 259.857 276.698 C 260.8 273.592 261.279 270.364 261.279 267.118 L 261.279 48.382 C 261.279 21.661 239.618 0 212.897 0 L 87.103 0 C 60.382 0 38.721 21.661 38.721 48.382 L 38.721 267.118 C 38.745 285.252 53.439 299.945 71.572 299.969 Z M 77.427 48.382 C 77.427 43.041 81.757 38.706 87.103 38.706 L 212.897 38.706 C 218.238 38.706 222.573 43.041 222.573 48.382 L 222.573 252.313 L 150 174.902 L 77.427 252.313 L 77.427 48.382 Z"
                                        style="fill: rgb(0, 0, 0);" />
                                </svg>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    45
                                    <span class="visually-hidden">Current likes</span>
                                </span>
                            </button>

                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                    focusable="false" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="31.987" y="49.435" width="236.995" height="205.977"
                                        style="fill: rgb(106, 106, 106); stroke: rgb(106, 106, 106);" />
                                    <path
                                        d="M 56.25 281.25 L 243.75 281.25 C 274.814 281.25 300 256.064 300 225 L 300 75 C 300 43.931 274.814 18.75 243.75 18.75 L 56.25 18.75 C 25.186 18.75 0 43.931 0 75 L 0 225 C 0 256.064 25.186 281.25 56.25 281.25 Z M 243.75 243.75 L 56.25 243.75 C 45.895 243.75 37.5 235.355 37.5 225 L 37.5 124.828 L 105.094 173.109 C 131.958 192.3 168.042 192.3 194.906 173.109 L 262.5 124.828 L 262.5 225 C 262.5 235.355 254.105 243.75 243.75 243.75 Z M 56.25 56.25 L 243.75 56.25 C 254.105 56.25 262.5 64.641 262.5 75 L 262.5 78.75 L 173.109 142.594 C 159.23 152.288 140.77 152.288 126.891 142.594 L 37.5 78.75 L 37.5 75 C 37.5 64.641 45.895 56.25 56.25 56.25 Z"
                                        style="fill: rgb(0, 0, 0);" />
                                </svg>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    7
                                    <span class="visually-hidden">Current comments</span>
                                </span>
                            </button>

                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                                    focusable="false" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="118.255" y="63.005" width="40.711" height="164.782"
                                        style="fill: rgb(63, 75, 211); stroke: rgb(63, 75, 211);" />
                                    <rect x="210.824" y="33.441" width="58.643" height="49.435"
                                        style="fill: rgb(63, 75, 211); stroke: rgb(63, 75, 211);" />
                                    <rect x="61.066" y="76.09" width="198.223" height="27.141"
                                        style="fill: rgb(63, 75, 211); stroke: rgb(63, 75, 211);" />
                                    <rect x="26.171" y="97.415" width="230.21" height="68.821"
                                        style="fill: rgb(63, 75, 211); stroke: rgb(63, 75, 211);" />
                                    <rect x="146.365" y="48.95" width="78.998" height="217.124"
                                        style="fill: rgb(63, 75, 211); stroke: rgb(63, 75, 211);" />
                                    <path
                                        d="M 248.956 0.005 C 243.477 0.005 238.03 0.891 232.832 2.63 L 40.276 66.799 C -2.796 81.236 -14.083 136.889 19.961 166.972 C 25.01 171.435 30.789 175.002 37.042 177.514 L 97.977 201.935 L 122.68 263.667 C 131.384 285.67 152.688 300.088 176.349 299.994 L 177.053 299.994 C 202.552 300.106 225.243 283.827 233.3 259.636 L 297.376 67.034 C 308.307 34.026 283.727 0 248.956 0.005 Z M 261.799 55.222 L 197.583 247.777 C 194.635 256.599 186.357 262.528 177.053 262.495 L 176.349 262.495 C 168.076 262.495 160.642 257.438 157.6 249.746 L 134.445 192.185 L 195.38 131.25 L 168.709 104.72 L 107.774 165.655 L 50.963 142.687 C 35.594 136.617 32.561 116.18 45.503 105.906 C 47.485 104.331 49.731 103.122 52.135 102.329 L 244.691 38.207 C 253.428 35.296 262.451 41.793 262.456 51.003 C 262.47 52.433 262.249 53.858 261.799 55.222 Z"
                                        style="fill: rgb(0, 0, 0);" />
                                </svg>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    21
                                    <span class="visually-hidden">Current forwarding</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Reputation
                    </div>
                    <div class="chart-container">
                        <canvas id="reputation" width="500" height="350">{{ chartReputation }}</canvas>
                    </div>
                    <div class="card-body">
                        <p>It lacks the remaining 28% to be promoted. Your currently category is <strong>Admin</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Table of users
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="id">#yPE959LZ</th>
                                        <td>Mickey</td>
                                        <td>Mouse</td>
                                        <td>MMouse</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>mmouse&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#8F02FEDu</th>
                                        <td>Donald</td>
                                        <td>Duck</td>
                                        <td>DDuck</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>dduck&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#5YG5Eq6X</th>
                                        <td>Goofy</td>
                                        <td>Goof</td>
                                        <td>GGoof</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>ggoof&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#9SKUEqAS</th>
                                        <td>Clarabelle</td>
                                        <td>Cow</td>
                                        <td>CCow</td>
                                        <td><span class="badge bg-danger">Moderator</span></td>
                                        <td>ccow&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#8ja7J2Ku</th>
                                        <td>Horace</td>
                                        <td>Horsecollar</td>
                                        <td>HHorsecollar</td>
                                        <td><span class="badge bg-danger">Moderator</span></td>
                                        <td>hhorsecollar&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#L9aiu6tR</th>
                                        <td>Percy</td>
                                        <td>Pigg</td>
                                        <td>PPigg</td>
                                        <td><span class="badge bg-success">Customer</span></td>
                                        <td>ppigg&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#P8sYt4fD</th>
                                        <td>Sylvester</td>
                                        <td>Shyster</td>
                                        <td>SShyster</td>
                                        <td><span class="badge bg-success">Customer</span></td>
                                        <td>sshyster&#64;gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Lorem
                    </div>
                    <div class="card-body">
                        <p class="card-text">Here you can display information related to energy consumption, statistics
                            or graphs.</p>
                        <button type="button" class="btn btn-zeus flex-grow-1"><svg width="20" height="20"
                                viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="172.052" y="145.88" width="72.698" height="52.343"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="162.843" y="38.772" width="103.716" height="120.194"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="116.317" y="80.452" width="86.753" height="142.488"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="89.661" y="105.654" width="39.742" height="81.422"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="137.641" y="55.735" width="38.772" height="34.895"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <path
                                    d="M 203.577 12.215 C 177.997 12.142 153.449 22.317 135.417 40.461 L 72.466 103.369 C 69.241 106.602 67.429 110.986 67.429 115.554 L 67.429 220.357 L 0 287.785 L 48.741 287.785 L 91.799 244.727 L 196.602 244.727 C 201.175 244.732 205.558 242.919 208.787 239.69 L 271.695 176.739 C 324.165 124.303 300.195 34.73 228.551 15.505 C 220.404 13.322 212.012 12.215 203.577 12.215 Z M 247.367 152.412 L 189.454 210.281 L 126.245 210.281 L 212.361 124.166 L 187.99 99.795 L 101.875 185.91 L 101.875 122.702 L 159.744 64.789 C 193.472 31.062 251.061 46.494 263.406 92.565 C 269.133 113.944 263.023 136.76 247.367 152.412 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg>
                            See details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Lorem
                    </div>
                    <div class="card-body">
                        <p class="card-text">Here you can display information related to energy consumption, statistics
                            or graphs.</p>
                        <button type="button" class="btn btn-zeus flex-grow-1"><svg width="20" height="20"
                                viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="172.052" y="145.88" width="72.698" height="52.343"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="162.843" y="38.772" width="103.716" height="120.194"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="116.317" y="80.452" width="86.753" height="142.488"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="89.661" y="105.654" width="39.742" height="81.422"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="137.641" y="55.735" width="38.772" height="34.895"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <path
                                    d="M 203.577 12.215 C 177.997 12.142 153.449 22.317 135.417 40.461 L 72.466 103.369 C 69.241 106.602 67.429 110.986 67.429 115.554 L 67.429 220.357 L 0 287.785 L 48.741 287.785 L 91.799 244.727 L 196.602 244.727 C 201.175 244.732 205.558 242.919 208.787 239.69 L 271.695 176.739 C 324.165 124.303 300.195 34.73 228.551 15.505 C 220.404 13.322 212.012 12.215 203.577 12.215 Z M 247.367 152.412 L 189.454 210.281 L 126.245 210.281 L 212.361 124.166 L 187.99 99.795 L 101.875 185.91 L 101.875 122.702 L 159.744 64.789 C 193.472 31.062 251.061 46.494 263.406 92.565 C 269.133 113.944 263.023 136.76 247.367 152.412 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg>
                            See details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true"
                            focusable="false" xmlns="http://www.w3.org/2000/svg">
                            <rect x="126.979" y="200.646" width="44.588" height="62.035"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="126.01" y="162.359" width="69.79" height="49.435"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <rect x="176.898" y="128.433" width="59.128" height="47.981"
                                style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                            <rect x="71.244" y="31.018" width="110.501" height="157.027"
                                style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                            <path
                                d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> Lorem
                    </div>
                    <div class="card-body">
                        <p class="card-text">Here you can display information related to energy consumption, statistics
                            or graphs.</p>
                        <button type="button" class="btn btn-zeus flex-grow-1"><svg width="20" height="20"
                                viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="172.052" y="145.88" width="72.698" height="52.343"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="162.843" y="38.772" width="103.716" height="120.194"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="116.317" y="80.452" width="86.753" height="142.488"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="89.661" y="105.654" width="39.742" height="81.422"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <rect x="137.641" y="55.735" width="38.772" height="34.895"
                                    style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                                <path
                                    d="M 203.577 12.215 C 177.997 12.142 153.449 22.317 135.417 40.461 L 72.466 103.369 C 69.241 106.602 67.429 110.986 67.429 115.554 L 67.429 220.357 L 0 287.785 L 48.741 287.785 L 91.799 244.727 L 196.602 244.727 C 201.175 244.732 205.558 242.919 208.787 239.69 L 271.695 176.739 C 324.165 124.303 300.195 34.73 228.551 15.505 C 220.404 13.322 212.012 12.215 203.577 12.215 Z M 247.367 152.412 L 189.454 210.281 L 126.245 210.281 L 212.361 124.166 L 187.99 99.795 L 101.875 185.91 L 101.875 122.702 L 159.744 64.789 C 193.472 31.062 251.061 46.494 263.406 92.565 C 269.133 113.944 263.023 136.76 247.367 152.412 Z"
                                    style="fill: rgb(0, 0, 0);" />
                            </svg>
                            See details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>