.card-header {
    background-color: var(--secondary-color);
    color: var(--pyrite-color);
}

.btn-zeus,
.bg-zeus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-zeus:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-color);
}

.btn-outline-zeus {
    background-color: var(--white-color);
    color: var(--secondary-color);;
    border-color: var(--primary-color-hover);
}

.btn-outline-zeus:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: var(--primary-color);
}

.fa-arrow-up {
    color: var(--emerald-color);
}

.fa-arrow-down {
    color: var(--ruby-color);
}

.id {
    color: var(--sapphire-color);
}

.announcement-image {
    margin-bottom: 1rem;
}

.custom-spacing {
    margin-right: 1rem;
}

.img-fluid {
    max-width: 180px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: left;
}

.specialist {
    color: var(--secondary-color);
    text-align: left;
}

.small,
.number {
    text-align: center;
}

.stats {
    background-color: var(--gray-color);
}

@media screen and (max-width: 768px) {
    .name,
    .specialist {
        text-align: center !important;
    }
}