.card-header {
    background-color: #1E1E1E;
    color: #B6A688;
}

.btn-zeus,
.bg-zeus {
    background-color: #F4B942;
    color: #1E1E1E;
}

.btn-zeus:hover {
    background-color: #e0a93b;
    color: #1E1E1E;
}

.btn-outline-zeus {
    background-color: white;
    color: #1E1E1E;
    border-color: #e0a93b;
}

.btn-outline-zeus:hover {
    background-color: #F4B942;
    color: #1E1E1E;
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: #F4B942;
}

.fa-arrow-up {
    color: #198754;
}

.fa-arrow-down {
    color: #DC3545;
}

.id {
    color: #1963d1;
}

.announcement-image {
    margin-bottom: 1rem;
}

.custom-spacing {
    margin-right: 1rem;
}

.img-fluid {
    max-width: 180px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: left;
}

.specialist {
    color: #2b2a2a;
    text-align: left;
}

.small,
.number {
    text-align: center;
}

.stats {
    background-color: #efefef;
}

@media screen and (max-width: 768px) {
    .name,
    .specialist {
        text-align: center !important;
    }
}