<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Users Component</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#yPE959LZ</th>
                    <td>Mickey</td>
                    <td>Mouse</td>
                    <td>MMouse</td>
                    <td>Admin</td>
                    <td>mmouse&#64;gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">#8F02FEDu</th>
                    <td>Donald</td>
                    <td>Duck</td>
                    <td>DDuck</td>
                    <td>Admin</td>
                    <td>dduck&#64;gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">#5YG5Eq6X</th>
                    <td>Goofy</td>
                    <td>Goof</td>
                    <td>GGoof</td>
                    <td>Customer</td>
                    <td>ggoof&#64;gmail.com</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut congue risus, non vehicula
                ante. Nam
                congue sit amet turpis a imperdiet. Nunc risus nibh, malesuada vel ornare nec, dictum vel ligula.
                Mauris
                dictum ullamcorper eros. Praesent nec consectetur mauris. Nulla at augue rhoncus, rutrum nulla eget,
                rutrum
                elit. Aenean volutpat sem tellus, non consectetur felis vestibulum id. Aenean at finibus turpis. In
                cursus
                lectus a sem accumsan egestas. Aliquam nec maximus nulla, ut aliquet massa.
            </p>
            <p>
                Etiam et porttitor odio. Etiam porta nisl congue, luctus sapien eu, mattis neque. Curabitur bibendum
                quis arcu
                in sodales. Vestibulum bibendum sapien non ultricies vehicula. Duis blandit, lorem accumsan sagittis
                ultricies, augue felis vestibulum metus, ut scelerisque sem erat eu tellus. Proin molestie est at
                molestie
                ultrices. Integer auctor pellentesque dapibus.
            </p>
            <p>
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque
                venenatis
                nulla velit, vel tincidunt dolor vehicula eu. Sed velit elit, tincidunt ut tellus quis, porta
                commodo lectus.
                Vivamus at congue sem. Cras venenatis lorem eget ornare condimentum. Integer pellentesque sapien non
                elit
                elementum pretium. Cras ac sem mattis, porttitor velit et, efficitur urna.
            </p>
            <p>
                Duis velit eros, consequat a nulla non, aliquam fermentum magna. Phasellus sed purus aliquam ex
                porttitor
                tincidunt. Sed tristique condimentum purus, vitae vehicula massa tempor at. Sed viverra ligula quis
                odio
                rutrum, quis porttitor nibh scelerisque. Integer nec posuere lorem, id laoreet felis. Mauris
                viverra, nulla at
                lacinia consectetur, mauris enim sollicitudin tellus, semper aliquam arcu massa quis ante. Nam in
                lectus diam.
                Sed at consequat lorem. Integer nisi massa, egestas vel finibus in, placerat et lacus.
            </p>
            <p>
                Nullam viverra pharetra ipsum, commodo auctor augue volutpat eu. Phasellus id ex rhoncus, eleifend
                urna sed,
                interdum eros. Proin pulvinar suscipit urna non lacinia. Fusce luctus facilisis mi ut vestibulum.
                Quisque sed
                lacinia lorem, et sagittis massa. Ut quis posuere elit, non posuere metus. Aenean non blandit nunc.
                Vestibulum
                ut sollicitudin urna. Vivamus pellentesque neque et sodales cursus. Maecenas vehicula et arcu ac
                sodales.
                Suspendisse posuere augue dui.
            </p>
            <p>
                Nullam viverra pharetra ipsum, commodo auctor augue volutpat eu. Phasellus id ex rhoncus, eleifend
                urna sed,
                interdum eros. Proin pulvinar suscipit urna non lacinia. Fusce luctus facilisis mi ut vestibulum.
                Quisque sed
                lacinia lorem, et sagittis massa. Ut quis posuere elit, non posuere metus. Aenean non blandit nunc.
                Vestibulum
                ut sollicitudin urna. Vivamus pellentesque neque et sodales cursus. Maecenas vehicula et arcu ac
                sodales.
                Suspendisse posuere augue dui.
            </p>
            <p>
                Nullam viverra pharetra ipsum, commodo auctor augue volutpat eu. Phasellus id ex rhoncus, eleifend
                urna sed,
                interdum eros. Proin pulvinar suscipit urna non lacinia. Fusce luctus facilisis mi ut vestibulum.
                Quisque sed
                lacinia lorem, et sagittis massa. Ut quis posuere elit, non posuere metus. Aenean non blandit nunc.
                Vestibulum
                ut sollicitudin urna. Vivamus pellentesque neque et sodales cursus. Maecenas vehicula et arcu ac
                sodales.
                Suspendisse posuere augue dui.
            </p>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These
                        classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You
                        can
                        modify any of this with custom CSS or overriding our default variables. It's also worth
                        noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the
                        transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                        the
                        collapse plugin adds the appropriate classes that we use to style each element. These
                        classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You
                        can
                        modify any of this with custom CSS or overriding our default variables. It's also worth
                        noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the
                        transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These
                        classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You
                        can
                        modify any of this with custom CSS or overriding our default variables. It's also worth
                        noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the
                        transition
                        does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>