<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Users Component</h1>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> User stats
                    </div>
                    <div class="card-body p-3 p-md-4">
                        <div class="d-md-flex text-black">
                            <div class="flex-shrink-0">
                                <img src="./assets/images/zeus_theme_alt.png" alt="Generic placeholder image"
                                    class="img-fluid"
                                    style="max-width: 180px; border-radius: 10px; display: block; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                                <h5 class="mb-1 name" style="text-align: left;">John Zeus</h5>
                                <p class="mb-2 pb-1 specialist" style="color: #2b2a2a; text-align: left;">Senior
                                    Journalist</p>
                                <div class="d-md-flex justify-content-between rounded-3 p-2 mb-2"
                                    style="background-color: #efefef;">
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="small text-muted mb-1" style="text-align: center;">Articles</p>
                                        <p class="mb-0" style="text-align: center;">41</p>
                                    </div>
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="small text-muted mb-1" style="text-align: center;">Followers</p>
                                        <p class="mb-0" style="text-align: center;">976</p>
                                    </div>
                                    <div class="flex-grow-1 text-center text-md-start">
                                        <p class="small text-muted mb-1" style="text-align: center;">Rating</p>
                                        <p class="mb-0" style="text-align: center;">8.5</p>
                                    </div>
                                </div>
                                <div class="d-flex pt-1">
                                    <button type="button" class="btn btn-outline-zeus me-1 flex-grow-1">Chat</button>
                                    <button type="button" class="btn btn-zeus flex-grow-1">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Most liked article
                    </div>
                    <div class="card-body">
                        <img src="./assets/images/zeus_code.png" class="announcement-image" width="100%" height="50px">
                        <h5><i class="fa-solid fa-bell"></i> Most used languages in 2024.</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <div>
                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <i class="fa-solid fa-heart"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    45
                                    <span class="visually-hidden">Current likes</span>
                                </span>
                            </button>

                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <i class="fa-solid fa-comment"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    7
                                    <span class="visually-hidden">Current comments</span>
                                </span>
                            </button>

                            <button type="button" class="btn btn-zeus position-relative custom-spacing">
                                <i class="fa-solid fa-paper-plane"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    21
                                    <span class="visually-hidden">Current forwarding</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Reputation
                    </div>
                    <div class="chart-container">
                        <canvas id="reputation" width="500" height="350">{{ chartReputation }}</canvas>
                    </div>
                    <div class="card-body">
                        <p>It lacks the remaining 28% to be promoted. Your currently category is <strong>Admin</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Table of users
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="id">#yPE959LZ</th>
                                        <td>Mickey</td>
                                        <td>Mouse</td>
                                        <td>MMouse</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>mmouse&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#8F02FEDu</th>
                                        <td>Donald</td>
                                        <td>Duck</td>
                                        <td>DDuck</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>dduck&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#5YG5Eq6X</th>
                                        <td>Goofy</td>
                                        <td>Goof</td>
                                        <td>GGoof</td>
                                        <td><span class="badge bg-zeus">Admin</span></td>
                                        <td>ggoof&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#9SKUEqAS</th>
                                        <td>Clarabelle</td>
                                        <td>Cow</td>
                                        <td>CCow</td>
                                        <td><span class="badge bg-danger">Moderator</span></td>
                                        <td>ccow&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#8ja7J2Ku</th>
                                        <td>Horace</td>
                                        <td>Horsecollar</td>
                                        <td>HHorsecollar</td>
                                        <td><span class="badge bg-danger">Moderator</span></td>
                                        <td>hhorsecollar&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#L9aiu6tR</th>
                                        <td>Percy</td>
                                        <td>Pigg</td>
                                        <td>PPigg</td>
                                        <td><span class="badge bg-success">Customer</span></td>
                                        <td>ppigg&#64;gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="id">#P8sYt4fD</th>
                                        <td>Sylvester</td>
                                        <td>Shyster</td>
                                        <td>SShyster</td>
                                        <td><span class="badge bg-success">Customer</span></td>
                                        <td>sshyster&#64;gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Last sale
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong><i class="fas fa-arrow-up"></i> 129,73 <i
                                    class="fa-solid fa-dollar-sign"></i></strong>
                        </h3>
                        <p>Your last sale was on <strong>01/03/2024</strong> for an amount of <strong>129,73 $</strong>.
                            Sold item: <strong>OFF-PA-10004359</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> ???
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> ???
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>