<app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<body className='snippet-body'>

  <body id="body-pd">
    <!--Container Main start-->
    <div class="bg-custom" style="padding-top: 1rem; padding-bottom: 1rem;"> <!--original <div class="height-100 bg-light">-->
      <h4>Main Components</h4>
      <div class="alert alert-info" role="alert">
        This is an alert using the palette.
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut congue risus, non vehicula ante. Nam
          congue sit amet turpis a imperdiet. Nunc risus nibh, malesuada vel ornare nec, dictum vel ligula. Mauris
          dictum ullamcorper eros. Praesent nec consectetur mauris. Nulla at augue rhoncus, rutrum nulla eget, rutrum
          elit. Aenean volutpat sem tellus, non consectetur felis vestibulum id. Aenean at finibus turpis. In cursus
          lectus a sem accumsan egestas. Aliquam nec maximus nulla, ut aliquet massa.
        </p>
        <p>
          Etiam et porttitor odio. Etiam porta nisl congue, luctus sapien eu, mattis neque. Curabitur bibendum quis arcu
          in sodales. Vestibulum bibendum sapien non ultricies vehicula. Duis blandit, lorem accumsan sagittis
          ultricies, augue felis vestibulum metus, ut scelerisque sem erat eu tellus. Proin molestie est at molestie
          ultrices. Integer auctor pellentesque dapibus.
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque venenatis
          nulla velit, vel tincidunt dolor vehicula eu. Sed velit elit, tincidunt ut tellus quis, porta commodo lectus.
          Vivamus at congue sem. Cras venenatis lorem eget ornare condimentum. Integer pellentesque sapien non elit
          elementum pretium. Cras ac sem mattis, porttitor velit et, efficitur urna.
        </p>
        <p>
          Duis velit eros, consequat a nulla non, aliquam fermentum magna. Phasellus sed purus aliquam ex porttitor
          tincidunt. Sed tristique condimentum purus, vitae vehicula massa tempor at. Sed viverra ligula quis odio
          rutrum, quis porttitor nibh scelerisque. Integer nec posuere lorem, id laoreet felis. Mauris viverra, nulla at
          lacinia consectetur, mauris enim sollicitudin tellus, semper aliquam arcu massa quis ante. Nam in lectus diam.
          Sed at consequat lorem. Integer nisi massa, egestas vel finibus in, placerat et lacus.
        </p>
        <p>
          Nullam viverra pharetra ipsum, commodo auctor augue volutpat eu. Phasellus id ex rhoncus, eleifend urna sed,
          interdum eros. Proin pulvinar suscipit urna non lacinia. Fusce luctus facilisis mi ut vestibulum. Quisque sed
          lacinia lorem, et sagittis massa. Ut quis posuere elit, non posuere metus. Aenean non blandit nunc. Vestibulum
          ut sollicitudin urna. Vivamus pellentesque neque et sodales cursus. Maecenas vehicula et arcu ac sodales.
          Suspendisse posuere augue dui.
        </p>
      </div>
      <div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john&#64;example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary&#64;example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july&#64;example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Container Main end-->
  </body>