.btn-zeus,
.bg-zeus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-zeus:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-color);
}

.table {
    text-align: center;
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: var(--primary-color);
}

.card-header {
    background-color: var(--secondary-color);
    color: var(--pyrite-color);
}

.table-responsive {
    margin-bottom: 1rem;
}