<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Palette Component</h1>
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <svg width="20" height="20" viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="126.979" y="200.646" width="44.588" height="62.035"
                            style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                        <rect x="126.01" y="162.359" width="69.79" height="49.435"
                            style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                        <rect x="176.898" y="128.433" width="59.128" height="47.981"
                            style="stroke: rgb(244, 185, 66); fill: rgb(244, 185, 66);" />
                        <rect x="71.244" y="31.018" width="110.501" height="157.027"
                            style="fill: rgb(244, 185, 66); stroke: rgb(244, 185, 66);" />
                        <path
                            d="M 123.072 297.719 C 139.179 303.603 157.222 297.817 166.897 283.661 L 255.484 153.126 C 272.333 129.687 257.495 96.798 228.772 93.931 C 227.496 93.803 226.205 93.736 224.921 93.743 L 198.067 93.743 L 213.393 49.866 C 221.912 25.519 203.854 0.037 178.05 0 L 79.623 0 C 59.441 -0.015 42.861 15.964 42.126 36.139 L 37.443 167.372 C 36.677 188.612 53.684 206.242 74.94 206.227 L 103.813 206.227 L 98.372 258.721 C 96.683 275.848 106.868 291.932 123.072 297.719 Z M 74.94 168.73 L 79.623 37.497 L 178.05 37.497 L 145.243 131.233 L 224.921 131.233 L 135.869 262.473 L 145.243 168.73 L 74.94 168.73 Z"
                            style="fill: rgb(0, 0, 0);" />
                    </svg> Color palette
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#F4B942</th>
                                    <th scope="col">#1E1E1E</th>
                                    <th scope="col">#F7F6FB</th>
                                    <th scope="col">#212529</th>
                                    <th scope="col">#B6A688</th>
                                    <th scope="col">#198754</th>
                                    <th scope="col">#DC3545</th>
                                    <th scope="col">#1963d1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://i.ibb.co/NyPB6mz/yellow.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/X2JVYVf/blackback.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/kmtqVkM/white.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/CVCdbgb/blackfont.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/qCsdzsG/gold.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/mFkTzk6/green.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/pdBMMMP/red.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/DM7cqxs/blue.png" width="150px" height="150px"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="card-text">Here you can view information related to the colour palette used by the
                        project, which will be updated over time.</p>
                    <button type="button" class="btn btn-zeus flex-grow-1"><svg width="20" height="20"
                            viewBox="0 0 300 300" fill="none" aria-hidden="true" focusable="false"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="172.052" y="145.88" width="72.698" height="52.343"
                                style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                            <rect x="162.843" y="38.772" width="103.716" height="120.194"
                                style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                            <rect x="116.317" y="80.452" width="86.753" height="142.488"
                                style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                            <rect x="89.661" y="105.654" width="39.742" height="81.422"
                                style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                            <rect x="137.641" y="55.735" width="38.772" height="34.895"
                                style="fill: rgb(106, 197, 227); stroke: rgb(106, 197, 227);" />
                            <path
                                d="M 203.577 12.215 C 177.997 12.142 153.449 22.317 135.417 40.461 L 72.466 103.369 C 69.241 106.602 67.429 110.986 67.429 115.554 L 67.429 220.357 L 0 287.785 L 48.741 287.785 L 91.799 244.727 L 196.602 244.727 C 201.175 244.732 205.558 242.919 208.787 239.69 L 271.695 176.739 C 324.165 124.303 300.195 34.73 228.551 15.505 C 220.404 13.322 212.012 12.215 203.577 12.215 Z M 247.367 152.412 L 189.454 210.281 L 126.245 210.281 L 212.361 124.166 L 187.99 99.795 L 101.875 185.91 L 101.875 122.702 L 159.744 64.789 C 193.472 31.062 251.061 46.494 263.406 92.565 C 269.133 113.944 263.023 136.76 247.367 152.412 Z"
                                style="fill: rgb(0, 0, 0);" />
                        </svg> See
                        details</button>
                </div>
            </div>
        </div>
    </div>
</div>