<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Palette Component</h1>
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-bolt"></i> Color palette
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#F4B942</th>
                                    <th scope="col">#1E1E1E</th>
                                    <th scope="col">#F7F6FB</th>
                                    <th scope="col">#212529</th>
                                    <th scope="col">#B6A688</th>
                                    <th scope="col">#198754</th>
                                    <th scope="col">#DC3545</th>
                                    <th scope="col">#1963d1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="https://i.ibb.co/NyPB6mz/yellow.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/X2JVYVf/blackback.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/kmtqVkM/white.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/CVCdbgb/blackfont.png" width="150px" height="150px">
                                    </td>
                                    <td><img src="https://i.ibb.co/qCsdzsG/gold.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/mFkTzk6/green.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/pdBMMMP/red.png" width="150px" height="150px"></td>
                                    <td><img src="https://i.ibb.co/DM7cqxs/blue.png" width="150px" height="150px"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="card-text">Here you can view information related to the colour palette used by the
                        project, which will be updated over time.</p>
                    <button type="button" class="btn btn-zeus flex-grow-1"><i class="fa-solid fa-circle-info"></i> See
                        details</button>
                </div>
            </div>
        </div>
    </div>
</div>