.bg-zeus {
    background-color: #F4B942;
    color: #1E1E1E;
}

.table {
    text-align: center;
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: #F4B942;
}

.btn-zeus,
.bg-zeus {
    background-color: #F4B942;
    color: #1E1E1E;
}

.btn-zeus:hover {
    background-color: #e0a93b;
    color: #1E1E1E;
}

.card-header {
    background-color: #1E1E1E;
    color: #B6A688;
}