.card-header {
    background-color: var(--secondary-color);
    color: var(--pyrite-color);
}

.btn-zeus,
.bg-zeus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-zeus:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-color);
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign,
.fa-bell {
    color: var(--primary-color);
}

.chart-container {
    padding: 1rem;
}

.caption {
    font-size: 12px;
}

.fa-arrow-up {
    color: var(--emerald-color);
}

.fa-arrow-down {
    color: var(--ruby-color);
}

.announcement-image {
    margin-bottom: 1rem;
}

@media screen and (max-width: 592px) {
    .table-responsive {
        margin-bottom: 1rem;
    }
}