.card-header {
    background-color: #1E1E1E;
    color: #B6A688;
}

.btn-zeus,
.bg-zeus {
    background-color: #F4B942;
    color: #1E1E1E;
}

.btn-zeus:hover {
    background-color: #e0a93b;
    color: #1E1E1E;
}

.fa-bolt,
.fa-ticket,
.fa-box,
.fa-dollar-sign {
    color: #F4B942;
}

.chart-container {
    padding: 1rem;
}

.caption {
    font-size: 12px;
}

.fa-arrow-up {
    color: #34A853;
}

.fa-arrow-down {
    color: #EA4335;
}

@media screen and (max-width: 530px) {
    .stats {
        margin-top: 1rem;
    }
}