<div id="body-pd" class="snippet-body">
    <div class="bg-custom">
        <h1>Dashboard Component</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./assets/images/zeus_v0.0.15.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><i class="fa-solid fa-bolt"></i> Chart.js library <span class="badge bg-danger"
                                style="margin-right: 5px;">New</span><span class="badge bg-primary">Minor</span></h5>
                        <p class="card-text">We have added the Chart.js library to create dynamic charts.
                        </p>
                        <a (click)="onChangelogButtonClick()" routerLink="/changelog" class="btn btn-zeus nav_link">
                            <i class="fa-solid fa-arrows-rotate nav_icon"></i> Changelog
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Comparison between sales and purchases
                    </div>
                    <div class="chart-container">
                        <canvas id="stats" width="500" height="350">{{ chartStats }}</canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Invoiced in the last month
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong><i class="fa-solid fa-arrow-up"></i> 12.300 $</strong>
                            <span class="caption text-right"> 82% out of 100%. Target: 15.000 $. </span>
                        </h3>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="82"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-zeus" style="width: 82%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Resolved tickets in the last month
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong><i class="fa-solid fa-arrow-up"></i> 236 <i class="fa-solid fa-ticket"></i></strong>
                            <span class="caption text-right"> 97% out of 100%. Target: 100%. </span>
                        </h3>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="97"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-zeus" style="width: 97%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Quantity of orders in the last month
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong><i class="fa-solid fa-arrow-down"></i> 1892 <i class="fa-solid fa-box"></i></strong>
                            <span class="caption text-right"> 63% out of 100%. Target: 3000 orders. </span>
                        </h3>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="63"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-zeus" style="width: 63%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Some text.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Some text.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Some text.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Some text.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>