:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --primary-color: #F4B942;
    --secondary-color: #1E1E1E;
    --primary-color-alt: #B6A688;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-size: var(--normal-font-size);
    background-color: #F7F6FB;
    color: none;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.snippet-body {
    padding: 2rem 2rem 2rem 6rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #212529;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}