:root {
    --primary-color: #F4B942;
    --primary-color-hover: #e0a93b;
    --secondary-color: #1E1E1E;
    --secondary-color-hover: #111111;
    --font-color: #212529;
    --background-app-color: #F7F6FB;
    --pyrite-color: #B6A688;
    --emerald-color: #198754;
    --ruby-color: #DC3545;
    --sapphire-color: #1963d1;
    --scroll-color: #f1f1f1;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #efefef;
    --header-height: 3rem;
    --nav-width: 68px;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-size: var(--normal-font-size);
    background-color: var(--background-app-color);
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.snippet-body {
    padding: 2rem 2rem 2rem 6rem;
}

.tooltip-zeus.tooltip>.tooltip-inner {
    background-color: var(--secondary-color) !important;
    color: var(--pyrite-color) !important;
}

.tooltip-zeus.tooltip>.tooltip-arrow::before {
    border-left-color: var(--secondary-color) !important;
}

@media (hover: none) {
    .tooltip-zeus {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color-hover);
}